.archive-events {
  margin-bottom: -1rem;
  // margin-left: -20px;
  // margin-right: -20px;
}

.archive-event {
  margin-bottom: 1rem;
  font-size: rem(15);
  line-height: 1.5;
}

.archive-event__link {
  display: flex;
  padding: rem(10);
  transition: 0.3s;

  &:hover {
    transition-duration: 0.4s;
    background-color: $light-color;
  }
}

.archive-event__image-area {
  margin-right: 1em;
  flex-basis: rem(100);
  flex-shrink: 0;
}

.archive-event__text-area {
  flex-grow: 1;
}

.archive-event__image-holder {
  @include responsiveObject();
}

.archive-event__title {
  display: inline;
  margin: 0;
  font-size: rem(18);
  font-weight: 600;
  border-bottom: 1px solid;
}

.archive-event__date {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: $base-color;
}

// @media (min-width: $media-mobile-up) {
//   .archive-events {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   .archive-event {
//     flex-basis: 100%;
//     // flex-shrink: 1;
//   }


//   .archive-event__link {

//   }
// }

// @media (min-width: $media-tablet-up) {
//   .archive-event {
//     flex-basis: 355px;
//   }
// }

// @media (min-width: $media-laptop-up) {
//   .archive-event {
//     flex-basis: 315px;
//   }
// }
