@mixin buttonColor($bgColor: $buttonColorDefault, $textColor: #fff) {

  color: $textColor;
  background-color: $bgColor;

  &:hover,
  &:focus {
    color: $textColor;
    background-color: mix(#fff, $bgColor, 7%);
    outline: none;
  }

  &:active {
    color: $textColor;
    background-color: mix(#000, $bgColor, 7%);
  }
}

.button {
  @include buttonColor($accent-color, #ffffff);
  display: inline-block;
  padding: em(10, 15) em(33, 15);
  border: 2px solid transparent;
  text-align: center;
  font-family: inherit;
  font-size: rem(15);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  letter-spacing: 0.04em;

  // Small
  &--small {
    font-size: rem(13);
    padding: em(14, 13) em(25, 13);
  }

  // Has icon
  &--has-icon {
    display: inline-flex;
    align-items: center;
    .svg-icon {
      margin-right: 0.5em;
    }
  }
}

.button--dark {
  // @include buttonColor(#2c2929);
}
