.index-about {
  background-color: $light-color;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 30px;

  h2 {
    margin-top: 0;
  }
}

.index-about__image-area {
  margin-top: 2rem;
  min-width: 200px;
  width: 200px;
}

.index-about__image-holder {
  @include responsiveObject();

  border-radius: 50%;
}

.index-about__image-caption {
  text-align: center;
  margin-top: 0.5em;

  span {
    font-size: 0.8em;
    display: block;
  }
}


.index-about__text-area {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 667px) {
  .index-about {
    flex-direction: row;
    padding: 45px 55px;
    position: relative;
  }

  .index-about__image-area {
    margin-top: 0;
    margin-right: 50px;
  }
}

@media (min-width: $media-laptop-up) {
  .index-about__image-area {
    width: $sidebar-width;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
  }

  .index-about__image-holder {
    width: auto;
    height: 100%;
    padding-top: 0;
    border-radius: 0;
  }

  .index-about__image-caption {
    display: none;
  }

  .index-about__text-area {
    margin-left: $sidebar-width;
  }
}
