.main-header {

}

.main-header__row {
  @include container();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: $media-tablet-up) {
    flex-direction: row;
  }
}

.main-header__column {
  margin-bottom: rem(20);

  &:last-child {
    margin-bottom: 0;
  }
  
  &--logo {
    flex-shrink: 0;
  }

  @media (min-width: $media-tablet-up) {
    margin-left: 5%;
    margin-bottom: 0;
  
    &--logo {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.main-header__logo {
  border-bottom: none;
  flex-shrink: 0;
}

.main-header__info {
  margin-bottom: 0;
  text-align: right;
  font-size: rem(15);
}

.main-header__phones {
  display: block;
  font-size: rem(20);

  [href^="tel:"] {
    white-space: nowrap;
  }
}

.main-header__button,
.woocommerce .main-header__row .button {
  min-width: rem(160);
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.main-header__control {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.main-header__control-toggler {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-left: 10px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    margin: auto;
    border: 2px solid transparent;
    border-right-color: $accent-color;
    border-bottom-color: $accent-color;
    transform: translateY(-25%) rotate(45deg);
  }
}

.main-header__control-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 28px;
  z-index: 1;
  margin-top: 5px;
  text-align: right;
  background-color: $white-color;
  border-radius: $border-radius;
  transition: ($duration * 1.5);
  user-select: none;
  box-shadow: 0 6px 12px rgba(#000, 0.3);

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: transform $duration, opacity $duration, visibility 0s $duration;
  }
}

.main-header__phones-list {
  @include clear-list();
}

.main-header__phones-item {
  // font-size: 16px;
}

.main-header__phone {
  display: inline-block;
  padding: 5px 10px;
  color: $base-color;
  vertical-align: middle;
}

.main-header__control-text {
  // color: $white-color;
  padding-top: 0;
  padding-bottom: 0;

  &:hover,
  &:focus {
    // color: $white-color;
  }
}

// .main-header__phone-number {
//   font-weight: 300;
// }
