.main-header {

}

.main-header__row {
  @include container();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 20px;
}

.main-header__column {
  margin-left: 5%;
  &--logo {
    margin-left: 0;
    margin-right: auto;
  }
}

.main-header__info {
  margin-bottom: 0;
  text-align: right;
}

.main-header__phones {
  display: block;
  font-size: rem(20);

  [href^="tel:"] {
    white-space: nowrap;
  }
}
