.product-selling {
  padding: rem(30) 18%;
  text-align: center;
  background-color: $light-color;
}

.product-selling__price {
  margin-bottom: rem(5);
  font-size: rem(36);
  line-height: 1;
}

.product-selling__button,
.woocommerce div.product form.cart .button {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

.woocommerce div.product form.cart .button {
  @include createButton();
  @include buttonColor($accent-color, #ffffff);
  display: block;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.woocommerce div.product form.cart, .woocommerce div.product p.cart {
  margin-bottom: 0;
}
