.services-list {
  margin-top: 0;
  margin-bottom: -15px;
  padding: 0;
  list-style: none;
}

.services-item {
  margin-bottom: 45px;
  text-align: center;
}

.services-item__icon-holder {
  margin-bottom: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: rem(40);
    height: rem(40);
    margin: auto;
    border-radius: 50%;
    background-color: $primary-color-light;
    z-index: -1;
  }
}

.services-item__icon {
  width: rem(64);
  height: rem(64);
}

.services-item__title {
  display: block;
  font-size: rem(15);
  font-weight: 600;

  span {
    display: block;
  }
}
