.sidebar-brands {
  @include clear-list();
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: rem(15);
}

.sidebar-brand {
  margin-right: 5px;
  margin-bottom: 5px;
}

.sidebar-brand__link {
  display: block;
  padding: 3px 10px;
  color: #ffffff;
  background-color: $primary-color;
  transition: background-color 0.2s;
  user-select: none;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: darken($primary-color, 3%);
  }
}
