.response-table {
  overflow-x: auto;
  margin-bottom: 1rem;

  table {
    margin-bottom: 0;
  }

}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  cursor: default;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

caption {
}

th,
td {
  border-bottom: 1px solid $light-color-secondary;
  padding: 5px;
}

thead {
  th,
  td {
    border-bottom-width: 2px;
  }
}

tbody {
  tr {
    &:hover {
      th,
      td {
        background-color: #fbfbfb;
      }
    }
  }
}

.woocommerce table.shop_table {
  border-radius: 0;
  border-color: $light-color-secondary;
}


// $mapAlign: (left, center, right);
// $countCells: 5;

// .table {
//   @each $align in $mapAlign {

//     @for $i from 1 through $countCells {

//       &-#{$align}-colgroup-#{$i} {
//         th:nth-child(#{$i}),
//         td:nth-child(#{$i}) {
//           text-align: $align;
//         }
//       }
      
//     }

//   }
// }
